@import './assets/styles/reset.css';
@import './assets/styles/header.css';
@import './assets/styles/mulheres_tecnologia.css';

@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap');


:root {
    --neutral-white: #ECEDEE;
    --neutral-pure-white: #FFFFFF;
    
    --neutral-dark: #1C1D1E;
    --neutral-dark-purple: #2D2C35;
    
    --neutral-grey-dark: #646464;
    --neutral-grey-light: #F4F4F4;

    --primary: #480FCB;
    --secondary: #F72585;

    --gradient: linear-gradient(127.4deg, #F72585 -2.62%, #480FCB 104.88%);
    --background-header: #ffffff1a;
    --gradient-background: linear-gradient(180deg, 0% #97003B, 50% var(--neutral-dark), 100% #3300BB);

    --font-family-title: 'Dela Gothic One', sans-serif;
    --font-family-content:  'Montserrat', sans-serif;
    --font-size: 62,5%;
}


